.bodyContainer {
    flex: 1;
    padding-bottom: 40px;
    margin-top: 20px;
}

.bodyImage {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.bodyLeadtext {
    font-size: 22px;
    color: #333;
    font-weight: bold;
    white-space: pre-wrap;
}
