.navbar {
    background-color: var(--primary-bg-color);
}

.listNav {
    display: flex;
    flex-wrap: wrap;
}

.link {
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    font-family: var(--primary-font-family);
}

.link:hover {
    background-color: white;
    color: var(--primary-bg-color);
}
